.question {
  background-color: $jblue;
  margin: 50px auto 100px;
  width: 500px;
}

.question-price {
  border-bottom: 3px solid $jgold;
  color: $jgold;
  font-family: $dollar-font;
  padding: 25px;
  position: relative;
}

.question-flag {
  color: $white;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    color: $red;
    cursor: pointer;
  }
}

.question-text {
  align-items: center;
  color: $white;
  display: flex;
  font-family: $question-font;
  justify-content: center;
  min-height: 200px;
  padding: 50px;
  text-transform: uppercase;
}
