.Question {
    background-color: $jblue;
    width: 500px;
    margin: 50px auto 100px;
}

.Question-price {
    color: $jgold;
    font-family: $dollar-font;
    border-bottom: 3px solid $jgold;
    padding: 25px;
    position: relative;
}

.Question-flag {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    color: $white;

    &:hover {
        cursor: pointer;
        color: $red;
    }
}

.Question-text {
    font-family: $question-font;
    color: $white;
    text-transform: uppercase;
    padding: 50px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
